@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
.AboutUs {
    float: left;
    width: 405px;
    margin-top: 140px;
    margin-left: 270px;
}

/* @font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  } */

.AboutUsTitle {
    font-size: 50px;
    color: #32BD32;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    width: 100%;
    height: 77px;
    display: block;
    background-color: salmon;
}

.logoContainer {
    height: 100%;
    display: table;
    float: left;
    margin-left: 100px;
}

.CHTitle {
    font-size: 47px;
    font-family: 'Notable';
    color: white;
    display: table-cell;
    font-weight: 200;
    /* margin-left: 40px; */
    /* width: 600px; */
    /* height: 100%; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.diff {
    color: green
}

.rectangle {
    width: 400px;
    height: 10px;
    background: salmon;
    margin-top: 10px;
  }

  .block1 {
      width: 110px;
      height: 40px;
      background: #32BD32;
      bottom:0;
      position: absolute;
      margin-bottom: 30px;
      margin-left: 30px;
  }
  .block2 {
    width: 40px;
    height: 110px;
    background: #32BD32;
    bottom:0;
    position: absolute;
    margin-bottom: 30px;
    margin-left: 30px;
}

.AboutUsP {
    color: #32BD32;
    font-size: medium;
    margin-top: 15px;
  }

.Login-Box {
    float: right;
    border: 11px solid salmon;
    width: 450px;
    height: 425px;
    margin-right: 180px;
    margin-top: 60px
}

  .Register-Box {
    float: right;
    border: 11px solid salmon;
    width: 450px;
    height: 535px;
    margin-right: 180px;
    margin-top: 60px
  }

  #LoginButton {
      color: salmon;
      background-color:white;
      width: 200px;
      height: 80px;
  }

  #RegisterButton {
    color: #32BD32;
    background-color:white;
    width: 200px;
    height: 80px;
}

.FormLabel {
    color: #32BD32;
    size: 100px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.FormLabelTop {
    color: #32BD32;
    size: 100px;
    font-size: 20px;
    margin-left: 20px;
    /* margin-top: 40px; */
}

.LoginInput{
    margin-left: 25px;
    margin-top: 50px;
    /* width: 250px;  */
    height: 40px;
}

.RegisterInput{
    margin-left: 30px;
    margin-top: 30px;
    width: 250px;
}

.emailWidth {
    width: 270px;
    margin-left: 25px;
    margin-top: 10px;
    /* width: 250px;  */
    height: 40px;
    background-color: salmon !important;
}
.passwordWidth {
    width: 220px;
    margin-left: 25px;
    margin-top: 50px;
    /* width: 250px;  */
    height: 40px;
    background-color: salmon !important;
}

.nameInput{
    margin-left: 30px;
    margin-top: 10px; 
    width: 270px;
    height: 40px;
    background: salmon !important;
}

.emailInput{
    margin-left: 30px;
    margin-top: 30px;
    width: 270px;
    height: 40px;
    background: salmon !important;
    
}

.passwordInput{
    margin-left: 30px;
    margin-top: 30px;
    width: 220px;
    height: 40px;
    background: salmon !important;
}

.locationInput{
    margin-left: 30px;
    margin-top: 30px;
    width: 232px;
    height: 40px;
    background: salmon !important;
}

.professionInput{
    margin-left: 30px;
    margin-top: 30px;
    width: 213px;
    height: 40px;
    background: salmon !important;
}

.Submit1 {
    top: 90px;
    left: 140px;
    align-content: center;
    width: 150px;
    background-color: #32BD32 !important;
}

.Submit2 {
    top: 31px;
    left: 140px;
    align-content: center;
    width: 150px;
    background-color: #32BD32 !important;
    
}

.selector {
    background: salmon;
    height: 5px;
    width: 165px;
    margin-left: 15px;
    
}

/* 
finish for phase2
.selector-reg {
    background: salmon;
    height: 5px;
    width: 16px;
    margin-left: 55px;
} */

/* .form-input {
    width: 200px;
    height: 50px;
} */