#UserContent{
    margin-top: 10%;
    margin-left: 10%;

}
.links{
    width: 400px;
    height: 400px;
    overflow:auto;
    margin:0 auto;
    text-align: center;
}
.Heading{

    font-size: 100px;
    border-bottom: 25px solid salmon;
    padding-bottom: 20px;
    color: #32BD32;
    font-weight: bold;

}

#UserInfo {
     
     align-items: center; /*horizontal centering*/
}
#ProfilePicture {
    
    margin-right: 50px;
    align-items: center; /*horizontal centering*/
}
.UserHeadings {
    font-size: 50px;
    margin: 100px 100px 35px 0px;
    color:  #32BD32;
    text-align: center;
    
}
.UserHeadingContent {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    background-color:  #32BD32;
    
}
#b3{
    background-color: salmon;
    font-size: 25px;
    }
#b2{
    background-color: salmon;
    font-size: 25px;
    }   
#Edit_b{
    float: left;
    margin:15px;
    margin-left:25%

}

#SeeRatings{
    float: left;
    margin:15px
    
    }