#UserContent{
    margin-top: 10%;
    margin-left: 10%;

}
.links{
    width: 400px;
    height: 400px;
    overflow:auto;
    margin:0 auto;
    text-align: justify;
}
.Heading{

    font-size: 100px;
    border-bottom: 30px solid salmon;
    padding-bottom: 100px;
    color: seagreen;
    font-weight: bold;

}
#UserInfo {
     
     align-items: center; /*horizontal centering*/
}
#ProfilePicture {
    
    margin-right: 50px;
    align-items: center; /*horizontal centering*/
}
.UserHeadings {
    font-size: 50px;
    margin: 100px 100px 35px 0px;
    color: seagreen;
    
}
.UserHeadingContent {
    font-size: 50px;
    color: white;
    background-color: seagreen;
    
}
#b3{
    background-color: salmon;
    font-size: 25px;
    }
#b2{
    background-color: salmon;
    font-size: 25px;
    }   
#Edit_b{
    float: left;
    margin:10px

}

#SeeRatings{
    float: left;
    margin:10px
    
    }