
#r_UserContent{
    margin-top: 10%;
    margin-left: 10%;

}
.r_links{
    width: 400px;
    height: 400px;
    overflow:auto;
    margin:0 auto;
    text-align: center;
}
.r_small_text{
    margin-top: 25px;
    
    font-size: 25px;
    position: relative;
    top:-5px;
    background-color: salmon;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.r_Heading{

    font-size: 100px;
    border-bottom: 30px solid salmon;
    padding-bottom: 100px;
    color:  #32BD32;
    font-weight: bold;

}

.r_size{
    font-size: 10px;
}
#r_UserInfo {
     float:left;
     align-items: center; /*horizontal centering*/
}

.r_UserPost {
    font-size: 30px;
    margin: 0px 10px 35px 0px;
    padding: 30px;
    background-color: salmon;
    
}
.r_UserHeadingContent {
    font-size: 50px;
    color: white;
    background-color:  #32BD32;
    
}
#r_b1{
    background-color: salmon;
    font-size: 25px;
    }
#r_b2{
    background-color: salmon;
    font-size: 15px;
    }   
#r_Edit{
    float: left;
    margin:15px;
    margin-left:25%

}

#r_Post{
    float: left;
    margin-bottom:15px
    }
#Post{
    margin-bottom:10px;
}
#star_input{
    margin-top:5px;
}

