.add-job {
    align-items: center !important;
    padding: 27px !important;
    left: 50% !important;
    margin: auto !important;
    background-color: salmon !important;
    /* color: white !important; */
}

/* .add-job:hover {
    background-color: #31AD32 !important;
} */

.exit-button {
    background-color: #32BD32 !important;
    color: whitesmoke !important;
}

.exit-button:hover {
    background-color: #31AD32 !important;
}

.form-padding {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.error-msg {
    text-align: center;
}
.header {
    padding-bottom: 30px !important;
}